.grid_container {
  display: grid;
  /* grid-template-columns: 250px auto; */
  /* grid-template-columns: repeat(4, 25%); */
  grid-template-columns: 1fr 2fr 4fr;
}

.grid_item {
  height: 40px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.grid_container :nth-child(2) {
  background-color: #007bff;

  /* grid-column-start: 2;
  grid-column-end: 4; */

  grid-column: 3/4;

  /* grid-row-start: 2;
  grid-row-end: 3; */
  grid-row: 2/3;
}

.grid_container2 {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas:
    "mySidebar myNav"
    "mySidebar myContent"
    "myFooter myFooter";
}

nav {
  background-color: red;
  grid-area: myNav;
}
.sidebar {
  background-color: blue;
  grid-area: mySidebar;
}
.content {
  background-color: green;
  grid-area: myContent;
  height: 200px;
}
footer {
  background-color: yellow;
  grid-area: myFooter;
}
