body {
    height: 8000px;
    box-sizing: border-box;
}
span {
    background: #f00;
    height: 50px;
    width: 250px;
    padding: 40px;
    display: inline-block;
}
li {
    list-style: decimal;
    background: #00f;
    list-style-position: inside;
    /* list-style-image: url("../images/lion.jpeg"); */
}
/* .overExample {
    height: 200px;
    width: 200px;
    background-color: aqua;
    overflow: auto;
    text-indent: 33px;
    line-height: 3;
    word-spacing: 14px;
    letter-spacing: 3px;
} */
.card {
    position: relative;
    height: 120px;
    width: 80px;
    transition: 1s all ease-in-out;
    backface-visibility: hidden;
}
.card:hover {
    transform: rotateY(180deg);
}
.front,
.back {
    position: absolute;
    inset: 0;
}

.front {
    background-color: red;
}
.back {
    transform: rotateY(180deg);
    background-color: #00f;
}

.textShadowExplain {
    text-shadow: 4px 9px 5px #f00;
}

.boxShadowExplain {
    height: 150px;
    width: 150px;
    background-color: #e0e0e0;
    margin: auto;
    box-shadow: inset 15px 15px 15px 37px #080;
}
.sizing {
    height: 200px;
    width: 200px;
    padding: 50px;
    border: solid 10px #f00;
}
.parent {
    display: flex;
    flex-wrap: wrap;
}
h1 {
    font-size: 5rem;
}

.child {
    background-color: #f00;
    width: 25%;
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 650px) {
    :root {
        font-size: 8px;
    }
    .child {
        width: 100%;
    }
}

@media (min-width: 651px) and (max-width: 1000px) {
    .child {
        width: 50%;
    }
}
