@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --white-color: #ffffff;
    --primary-color: #0dcaf0;
    --secondary-color: #0d6efd;
    --section-bg-color: #f0f8ff;
    --dark-color: #000000;
    --navbar-bg-color: #273053;
    --p-color: #717275;
    --highlight-icon-color: #ff0100;
    --body-font-family: "DM Sans", sans-serif;
    --h1-font-size: 62px;
    --h2-font-size: 48px;
    --h3-font-size: 36px;
    --h4-font-size: 32px;
    --h5-font-size: 24px;
    --h6-font-size: 22px;
    --p-font-size: 18px;
    --menu-font-size: 16px;
    --copyright-text-font-size: 16px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --main-transition: 0.3s all ease-in-out;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    height: 8000px;
}

.container {
    width: 70%;
    margin: 0 auto;
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
    color: inherit;
}
.relative {
    position: relative;
}
.overlay {
    position: absolute;
    inset: 0;
}
.primaryColor {
    color: var(--primary-color);
}
svg {
    width: 70px;
}
/**************************** Nav styles *******************************/

nav {
    background-color: var(--navbar-bg-color);
    color: var(--white-color);
    height: 70px;
}
nav .container {
    justify-content: space-between;
    padding-top: 10px;
}
nav .ulContainer {
    width: 75%;
    justify-content: space-between;
}
nav .container ul {
    list-style: none;
    gap: 15px;
}
nav .container ul a {
    transition: var(--main-transition);
}
nav .container ul a:hover {
    color: var(--primary-color);
}
.active {
    color: var(--primary-color);
}
nav .container button {
    border-radius: 25px;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: var(--main-transition);
    color: inherit;
    border: none;
    width: 109px;
}
nav .container button:hover {
    background-color: var(--primary-color);
}
/**************************** Hero styles *******************************/
.hero {
    background-image: linear-gradient(360deg, #0d6efd8c, transparent);
    color: var(--white-color);
}
.hero video {
    width: 100%;
    position: relative;
    z-index: -1;
}
.hero .container.overlay {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}
.hero h1 span {
    display: block;
}
.hero h1 span:first-child {
    color: var(--primary-color);
    text-decoration: underline;
}
.hero .eventContainer {
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}
.hero .eventContainer > div {
    position: relative;
    height: 190px;
    width: 30%;
    flex: 1;
    overflow: hidden;
}
/* .hero .eventContainer > div:first-child {
    background-image: url("../images/1.jpg");
}
.hero .eventContainer > div:nth-child(2) {
    background-image: url("../images/2.jpg");
}
.hero .eventContainer > div:last-child {
    background-image: url("../images/3.jpg");
} */
.hero .eventContainer > div img {
    max-width: 100%;
    transition: var(--main-transition);
}
.hero .eventContainer > div:hover img {
    transform: scale(1.2);
}
.eventContainer .content {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}
.eventContainer .content svg {
    display: none;
}
.eventContainer .content:hover span {
    display: none;
}
.eventContainer .content:hover svg {
    display: block;
}
