@use "../helpers/variables";
@use "../helpers/mixins";

nav {
    display: flex;
    justify-content: start;
    color: variables.$main_color;
    background-color: #00ffff;
    text-align: center;
    @include mixins.myRounded(5px)
}
