@use "../helpers/variables";
@use "../helpers/mixins";

.parent {
    font-weight: bold;
    @include mixins.myRounded(10px, aqua);

    >.child {
        font-size: 2rem;
        color: variables.$main_color;
    }
}
